modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[[artifacts]]
id = "artifacts/wedding-invitation"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/wedding-invitation: web"

[[workflows.workflow]]
name = "artifacts/wedding-invitation: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=19315 BASE_PATH=/ pnpm --filter @workspace/wedding-invitation run dev"
waitForPort = 19315

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[objectStorage]
defaultBucketID = "replit-objstore-d1942638-b90f-4274-ac94-74ceb86e5d6f"

[nix]
channel = "stable-25_05"
